version: "3.8"
services:
  db:
    container_name: db
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    cap_add:
      - SYS_NICE
    ports:
      - '3306:3306'
    volumes:
      - ./mysql/default:/var/lib/mysql
  php:
    container_name: mada_annonce_php
    build:
      context: ./php
    restart: always
    ports:
      - '9000:9000'
    volumes:
      - ./:/var/www
    depends_on:
      - db
  nginx:
    container_name: mada_annonce_nginx
    image: nginx:stable-alpine
    ports:
      - '8000:80'
    restart: always
    volumes:
      - ./:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db
  phpmyadmin:
    container_name: mada_annonces_phpmyadmin
    image: phpmyadmin
    restart: always
    environment:
      PMA_HOSTS: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - '8001:80'

